<div class="container col-md-4 p-2 text-center">
  <div>
    <h2>Welcome to the hotel reservation portal</h2>
  </div>

  <br />
  <div class="">
    <div class="row">
      <div class="col text-center">
        <button mat-raised-button color="primary" [routerLink]="['/new']">
          Create a new reservation
        </button>
      </div>
      <div class="col text-center">
        <button mat-raised-button color="primary" [routerLink]="['/list']">
          View all reservation
        </button>
      </div>
    </div>
  </div>
</div>
